<h1 class="text-info fa fa-users"> Contact Me </h1>
<div id="sa_contactdiv">
    <form name=sa_htmlform style="margin:0px" onsubmit="return contactform()">
        <table>
            <tr><td><i class="text-info">Name:</i><br><input class="text-info" type="text"  name="name" required="true" /></td></tr>
            <tr><td><i class="text-info">E-mail Address:</i><br><input class="text-info" type="text" name="email" required="true" /></td></tr>
            <tr><td><i class="text-info">Message:</i><br><textarea class="text-info" name="message" cols="42" rows="9" required="true"></textarea></td></tr>
            <tr><td><input class="btn btn-info" type="submit" value="Send Message" style="font-weight:bold"></td></tr>
        </table>
    </form>
</div>